* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  display: inline-block;
}

i:not(:first-child) {
  margin-left: 10px;
}

i:not(:last-child) {
  margin-right: 10px;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

*[class*=col-] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

body {
  background-color: #F5F5F2;
  display: -ms-flexbox;
  display: flex;
}

button {
  outline: none;
}

.titles {
  color: #A6A6A6;
}

nav {
  width: 250px;
  -ms-flex: none;
      flex: none;
  height: 100vh;
  background-color: #191919;
}

nav .logo {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

nav .logo h1 {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

nav .logo .menu {
  -ms-flex: none;
      flex: none;
  border: none;
  background: transparent;
  padding: 3px;
}

nav .logo .menu span {
  display: block;
  width: 20px;
  height: 2px;
  background: #A6A6A6;
  margin: 5px 0px;
  border-radius: 5px;
}

nav ul {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #393232;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
}

nav ul li {
  color: #A6A6A6;
  padding: 10px 20px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul li:hover {
  border-left: 5px solid #F58220;
  color: white;
  cursor: pointer;
  background-color: #282828;
  padding-left: 15px;
}

nav ul li:active {
  background: green;
  color: white;
  cursor: pointer;
}

nav ul li span {
  display: inline-block;
}

nav .manager h2 {
  color: #A6A6A6;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

nav .manager > div {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-align: center;
      align-items: center;
}

nav .manager > div .avatar {
  -ms-flex: none;
      flex: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 20px;
}

nav .manager > div .avatar img {
  width: inherit;
  height: inherit;
}

nav .manager > div .avatar .activity {
  height: 10px;
  width: 10px;
  background-color: #32CD32;
  position: absolute;
  border-radius: 50%;
  bottom: 430px;
  left: 70px;
}

nav .manager > div h3 {
  font-size: 16px;
  color: #56819F;
  padding: 10px 10px;
  margin: 0 0 0 10px;
}

.content {
  -ms-flex: 1 100%;
      flex: 1 100%;
  max-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.content header {
  border-bottom: 1px solid #E3E3E3;
  -ms-flex: none;
      flex: none;
  font-size: 16px;
}

.content header button {
  border: none;
  background-color: #F5F5F2;
}

.content header ul {
  float: right;
  list-style-type: none;
  margin: 0;
}

.content header ul:before, .content header ul:after {
  content: "";
  display: table;
  clear: both;
}

.content header ul li {
  display: inline-block;
  padding: 15px;
  color: #A6A6A6;
  border-right: 1px solid #E3E3E3;
}

.content header ul li:first-of-type {
  border-left: 1px solid #E3E3E3;
}

.content header ul li:last-of-type {
  border-right: none;
}

.content header ul li.user {
  color: #56819F;
}

.content main {
  -ms-flex: 1 100%;
      flex: 1 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.content main > section {
  background: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.content main > section:not(:first-of-type) {
  margin-top: 50px;
}

.content main > section > *:not(:first-child) {
  border-top: 1px solid #F5F5F2;
}

.content main > section > h4 {
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}

.content main > section .data {
  padding: 20px;
}

.content main .statistics .range {
  padding: 50px;
  text-align: center;
}

.content main .statistics .data .fourLines > div {
  padding: 5px 30px;
  display: -ms-flexbox;
  display: flex;
}

.content main .statistics .data .fourLines > div h2 {
  border-bottom: 1px solid #E3E3E3;
  font-size: 16px;
  padding-bottom: 5px;
  color: #A6A6A6;
  font-weight: bold;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex: 1 100%;
      flex: 1 100%;
}

.content main .statistics .data .fourLines > div h3 {
  border-bottom: 1px solid #E3E3E3;
  color: black;
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
}

.content main .statistics .data .chart {
  text-align: center;
  padding-top: 50px;
}

.content main .statistics .data .chart h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #A6A6A6;
  text-align: left;
}

.content main .statistics .data .chart button {
  border: none;
  background-color: transparent;
  color: #A6A6A6;
  padding: 10px;
  vertical-align: middle;
  margin: 0 10px;
}

.content main .statistics .data .chart button:hover {
  background-color: #F3F3F1;
  border: none;
  color: #A6A6A6;
}

.content main .statistics .data .chart .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.content main .statistics .data .chart .blue {
  background-color: #80BFCA;
}

.content main .statistics .data .chart .orange {
  background-color: #FF9A38;
}

.content main .statistics .data .chart .green {
  background-color: #59B66D;
}

.content main .websites button {
  background: #F58220;
  border-radius: 3%;
  color: white;
  border: none;
  padding: 8px;
  width: 120px;
  font-size: 20px;
  font-weight: lighter;
  display: block;
}

.content main .websites ul {
  padding: 10px;
  list-style-type: none;
}

.content main .websites ul li {
  border-bottom: 1px solid #E3E3E3;
  padding: 20px;
}

.content main .websites ul li i {
  padding-left: 30px;
  margin: 0px;
}

.content main .websites ul li:hover {
  background-color: #F1F3F3;
}

.content main .websites ul li:first-of-type {
  border-top: 1px solid #E3E3E3;
}

.content main .websites ul li a {
  margin-left: 20px;
  margin-right: 100px;
  float: right;
}

.content main .websites ul li a button {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: 20px;
}

.content main .websites ul li a .icon-links {
  color: orange;
}

.content main .websites ul li a .icon-trash {
  color: #A6A6A6;
}

.dateRangePicker .input {
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #bababa;
  border-radius: 3px;
  padding: 3px;
}

.dateRangePicker .input .from, .dateRangePicker .input .to {
  padding: 0 10px;
}

.dateRangePicker .input .from {
  border-right: 1px solid #bababa;
}

.dateRangePicker .input button {
  padding: 0 5px;
  border: none;
  background: transparent;
}

.dateRangePicker .reset {
  background: #F58220;
  border-radius: 10%;
  color: white;
  border: none;
  padding: 4px 8px;
  margin-left: 10px;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */